body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: #333333;
}

body.dark-mode{
    background-color: #212121;
    color: #f5f5f5;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .button-image{
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #theme-button{
    background: none;
    border: none;
}

header .logo:hover,
header .button-image:hover{
    transform: scale(1.05);
    cursor: pointer;
}

main{
    padding: 25px;
}

main .pokemon-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .pokemon-card{
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .pokemon-card:hover{
    background-color: #96d9d6;
    cursor: pointer;
    transform: scale(1.05);
}

.dark-mode .pokemon-card{
    background-color: #a8a8a8;
}

main .pokemon-card .pokemon-info{
    display: flex;
    justify-content: center;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .pokemon-card .pokemon-info span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .pokemon-card .gif{
    width: 80px;
    height: 80px;

}

main .pokemon-card .types{
    display: flex;
    gap: 15px
}

main .pokemon-card .type{
    padding: 8px;
    border-radius: 10px;
}

.grass{
    background-color: #7ac74c;
}

.poison{
    background-color: #df67ddfb;
}

.fire{
    background-color: #ee8130;
}

.water{
    background-color: #6390f0;
}

.bug{
    background-color: #a6b91a;
}

.flying{
    background-color: #a98ff3;
}

.normal{
    background-color: #a8a77a;
}

.electric{
    background-color: #f7d02c;
}

.psychic{
    background-color: #f95587;
}

.dragon{
    background-color: #6f35fc;
}

.dark{
    background-color: #705746;
}

.rock{
    background-color: #b6a136;
}

.ground{
    background-color: #e2bf65;
}

.fighting{
    background-color: #c22e28;
}

main .description{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}